<input class="plant-state" type="radio" name="plant" id="plant-1" checked />a
<input class="plant-state" type="radio" name="plant" id="plant-2" />
<input class="plant-state" type="radio" name="plant" id="plant-3" />
<input class="plant-state" type="radio" name="plant" id="plant-4" />

<div class="plant-widget">
  <label for="plant-2" class="plant-stage stage-1">
    <img src="assets/images/plant-1.png" alt="small plant sprout" />
  </label>

  <label for="plant-3" class="plant-stage stage-2">
    <img src="assets/images/plant-2.png" alt="young plant" />
  </label>

  <label for="plant-4" class="plant-stage stage-3">
    <img src="assets/images/plant-3.png" alt="growing plant" />
  </label>

  <label for="plant-4" class="plant-stage stage-4">
    <img src="assets/images/plant-4.png" alt="fully grown plant" />
  </label>
</div>
