<div class="toggle-block">
  {% if include.body %}
  <input class="toggle" type="checkbox" id="{{ include.uid }}" />
  {% endif %}

  <span class="toggle-head">
    <span class="toggle-title">{{ include.label }}</span>
    {% if include.body %}
    <label for="{{ include.uid }}">
      <span class="sr-only">{{ include.sr }}</span>
    </label>
    {% endif %}
  </span>

  {% if include.body %}
  <div class="toggleable-body {% if include.quote %} quote {% endif %} ">{{ include.body | markdownify }}</div>
  {% endif %}
</div>
