@use "toggle";

$accent: #7957d5;
$background-color: #faf7f2;
$footer-text-color: #666666;

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: $background-color;
  padding: 0;
  font-size: 1.5rem;
  height: 100%;
  width: 100%;
  line-height: 1.5;
  font-family: Lato, Helvetica, Arial, sans-serif;
}

$header-top-pad: 5rem;
$header-sticky-pad: 1rem;

header {
  position: sticky;
  top: calc(#{$header-sticky-pad} - #{$header-top-pad});
  z-index: 1000;
  background-color: $background-color;

  padding-top: $header-top-pad;

  li.active,
  li.active a {
    color: $accent;
    cursor: default;
    text-decoration: none;
    font-style: italic;
  }
}

main {
  padding-top: 1rem;
}

footer {
  width: 100%;
  color: $footer-text-color;
  opacity: 0.5;
  font-size: 70%;

  .row {
    padding-bottom: 20px;
  }

  a {
    // @include transition(0.5s ease);
    text-decoration: none;
    color: inherit;
  }
}

a.nostyle {
  color: inherit;
  text-decoration: inherit;
}

h1 {
  font-size: calc(1.875rem + 1.5vw);
}

td {
  padding-right: 1rem;
}

img.profile {
  float: right;
  width: 400px;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-right: 30px;
}

.round {
  object-fit: cover; /* keeps the image filled nicely */
  border-radius: 50%; /* makes it a circle */
}

.quote {
  background-color: rgba($accent, 0.06);
  border-left: 0.3rem solid $accent;
  margin-left: 0;
  margin-right: 0;
  padding: 0.75rem 1rem;
}

.quote .quote {
  background-color: rgba($accent, 0.08);
}
